/* UI Components */
.try-btn {
    display: inline-block;
    width: fit-content;
    padding: 0.25rem 1rem;
    background-color: #000;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 0.3rem;
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    flex-shrink: 0;
}

.try-btn:hover,
.try-btn:active {
    background-color: #002FA7;
}

.discord_button{
    display: flex;
    width: fit-content;
    align-items: center;
    gap: 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    font-family: inherit;
    color: #000;
    border: 1px solid #000;
    padding: 0.25rem 1rem;
    border-radius: 0.3rem;
    cursor: pointer;
    text-decoration: none;
}

.logo {
    font-size: 1.3rem;
    font-weight: 500;
    font-family: inherit;
    display: flex;
    align-items: center;
    gap: 0.75rem;
}

.logo img {
    height: 1.75rem;
    width: auto;
}

  
.gif-display {
    max-width: 90%;
    max-height: 50vh;
    object-fit: contain;
    opacity: 1;
    transition: all 0.25s cubic-bezier(0.3, 0, 0.2, 1);  
    will-change: opacity, transform;  
}

.gif-display.fade {
    opacity: 0;
    transform: scale(0.995);
}

.hero video {
    width: 100%;
    height: auto;
    object-fit: contain;
    border-radius: 0.5rem;        
}

.slideshow {
    position: relative;
    width: 100%;
}

.slide {
    position: absolute;
    width: 100%;
    height: auto;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    object-fit: contain;
}

.slide:first-child {
    position: relative;
    opacity: 1;
}

.slide.active {
    opacity: 1;
}

.slide-dots {
    position: absolute;
    bottom: 1.5rem;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 0.5rem;
    z-index: 2;
}

.dot {
    width: 0.4rem;
    height: 0.4rem;
    background-color: white;
    border-radius: 50%;
    cursor: pointer;
    border: 1px solid white;
    transition: background-color 0.3s ease;
}

.dot.active {
    background-color: #BBBABA;
    border-color: #BBBABA;
}
