/* Reset basic margins and paddings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-width: 45rem;
    margin: 0 auto;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    position: sticky;
    top: 0;
    padding: 1.5rem 2rem;
    z-index: 1000;
    width: 100%;
    transition: border-bottom 0.3s ease;
}

header.scrolled {
    border-bottom: 1px solid #E5E2E2;
}

.hero {
    padding: 5rem 13rem;
    display: flex;
    gap: 6rem;
    align-items: center;
    min-height: fit-content;
}

.left {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2.5rem;
}

.right {
    width: 50%;
    display: flex;
}

.right img {
    width: 100%;
    height: auto;
    object-fit: contain;
}

.buttons{
    display: flex;
    gap: 1rem;
    align-items: center;
    direction: row;
}

.container {
    width: 100%;
    padding: 0rem 13rem 0rem 13rem;
    gap: 6rem;
    margin: 0 auto;
    display: flex;
}

.section {
    min-height: 60vh;
    width: 100%;
    scroll-snap-align: start;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
}

.section:last-of-type {
  min-height: 75vh;
  padding-bottom: 15vh;  
}


.left-panel {
    padding-top: 10rem;
    padding-bottom: 10rem;
    width: 50%;
}

.right-panel {
    width: 50%;
    height: 100vh;
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

a {
    color: black;
    text-decoration: none;
}

.vertical_box{
    padding: 0rem 13rem 10rem 13rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.blog{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 8rem;
}

.blog_items{
    flex: 1;
    display: flex;
    flex-direction: column;
}

.blog_items img {
    width: 100%;
    height: auto;
}

.blog_items a {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    text-decoration: none;
}

.blog_items:hover {
    opacity: 0.8;
    transition: opacity 0.2s ease;
}

.slideshow {
    width: 100%;
    position: relative;
}

.slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    object-fit: contain;
}
