/* Reset basic margins and paddings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    max-width: 75rem;
    min-width: 45rem;
    margin: 0 auto;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    position: sticky;
    top: 0;
    padding: 2rem;
    z-index: 1000;
    width: 100%;
}

.hero {
    padding: 5rem 2rem 0rem 2rem;
    flex-direction: row;
    display: flex;
    gap: 5%;
}

.left {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
}

.right {
  width: 65%;
  height: auto;
}


.container {
    width: 100%;
    max-width: 75rem;
    gap: 5rem;
    margin: 0 auto;
    display: flex;
    padding: 2rem;
    padding-bottom: 15vh;  
}

.section_one {
  min-height: 75vh;
  width: 100%;
  scroll-snap-align: start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
}

.section {
  min-height: 75vh;
  width: 100%;
  scroll-snap-align: start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
}

.section:last-of-type {
  min-height: 75vh;
  padding-bottom: 15vh;  
}


.left-panel {
    width: 40%;
}

.right-panel {
    width: 60%;
    height: 85vh;
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}