/* Reset basic margins and paddings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    max-width: 55vw;
    min-width: 45rem;
    margin: 0 auto;
}

/* Layout components */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    position: sticky;
    top: 0;
    padding: 2rem 0;
    z-index: 1000;
}

.hero {
    padding-top: 2rem;
    padding-bottom: 10rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.hero-image {
    min-height: 30rem;
    background-color: #F6F6F6;
}

.feature {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    margin-bottom: 10rem;
}


.feature-content {
    display: flex;
    align-items: center;
}

.feature-text {
    flex: 3.3;
}

.feature-image {
    flex: 6.6;
    min-height: 300px;
    background-color: #F6F6F6;
}

.feature-text ul {
    text-align: left;
    list-style-position: inside;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.feature-text li {
    text-align: left;
}
