@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro:wght@400;600;700&display=swap');

/* Base typography */
body {
    font-family: 'Source Serif Pro', serif;
    font-size: 1.5rem;
    line-height: 1.6;
    color: #333;
}

.heading {
    font-family: 'Source Serif Pro', serif;
    font-weight: bold;
}

.heading-large {
    font-size: 3rem;
    font-weight: 600;
    line-height: 1.3;
}

.heading-medium {
    font-size: 2rem;
    font-weight: 400;
    color: #979797;
}


.logo {
    font-size: 1.5rem;
    font-weight: 600;
}

.quote {
    padding-top: 2rem;
    padding-bottom: 2.5rem;
    width: 100%;
}

